* {
    margin: 0;
    padding: 0;

    /* --color1: rgba(71, 106, 111, 1);
    --color2: rgba(23, 190, 187, 1);
    --color3: rgba(239, 235, 206, 1);
    --color4: rgba(67, 146, 241, 1);
    --color5: rgba(13, 19, 33, 1); */

    --color1: rgba(55, 75, 120, 1);
    --color2: rgba(183, 195, 243, 1);
    --color3: rgba(202, 207, 133, 1);
    --color4: rgba(125, 132, 145, 1);
    --color5: rgba(233, 241, 247, 1);
    box-sizing: border-box;
    /* font-size: 20px; */
    font-family: 'Lato', sans-serif;
}

/* .logoContactMenu{
    display: flex;
    justify-content: space-around;
    width: 100%;
align-items: center;
border-bottom: 2px solid var(--color1);
} */
.bold {
    display: inline-block;
    font-weight: bold;
    /* margin: 10px; */
}

.stickyBar {
    position: fixed;
    top: 20px;
    height: 10vh;
    width: 100%;
    background-color: rgba(233, 241, 247, 0.9);
    border-top: 2px solid #374B78;
    border-bottom: 1px solid #374B78;
    text-align: left;

}

.logo {
    /* padding: 30px; */
    font-size: 18px;
}

.contact {
    text-decoration: none;
    padding-right: 20%;
    text-align: left;
}

header {

    background-image: url(/img/cc/photovoltaic-2138992_1920.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    position: relative;
    text-align: center;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    text-shadow: 3px 3px black;
    background-color: rgba(255, 255, 255, 0.5);


}

.burger {
    position: absolute;
    /* position: fixed; */
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    /* line-height: 50px; */
    z-index: 1;
    cursor: pointer;
    /* background-color: rgba(67, 146, 241, 0.5); */
    background-color: var(--color1);
    border: 1px solid var(--color5);
    /* border-radius: 5px; */


}

.burger i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color5);

    transform: translate(-50%, -50%);
}

i.off {
    display: none;
}

nav {
    position: absolute;
    left: 0;
    width: 100%;
    top: 10vh;
    padding: 10px;
    /* background-color: var(--color1); */
    transition: .2s;
    font-size: 24px;
}

nav.off {
    top: -300px;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: var(--color2); */
    width: 60%;
    margin: 0 auto;

}

nav ul li {
    width: 100%;
    list-style: none;

    background-color: rgba(233, 241, 247, 0.9);

}

nav ul li a {
    color: var(--color1);
    border-bottom: 1px solid var(--color5);
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    transition: .2s ease;

}

ul li a:hover {
    border-bottom: 1px solid var(--color1);


    /* SEKCJE */
}

section {
    /* background-color: var(--color2); */
    text-align: center;
    padding: 20px;

}

section p {
    font-size: 18px;

}


section:nth-child(even) {
    background-color: var(--color5);

}

section:nth-of-type(1) {
    padding-top: 20px;
    /* margin-top: 20px; */


}

section h2 {
    display: inline-block;
    font-size: 35px;
    /* padding-bottom: 20px; */
}


section h2 {

    border-bottom: 3px solid var(--color2);
}
section:nth-of-type(3) h2 {

    border-bottom: none;
}

section:nth-of-type(1) p:nth-of-type(1),
section:nth-of-type(1) p:nth-of-type(3) {
    margin-top: 20px;
    padding-bottom: 10px;
}

section:nth-of-type(1) h2:nth-of-type(2),
section:nth-of-type(2) h2:nth-of-type(1) {
    margin: 20px 0;
}

section button {
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: var(--color1);

}

section ul li {
    list-style-type: none;
}

.avatar {
    background-image: url(/img/cc/avatar-1577909_640.png);
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
}

.features {
    background-image: url(/img/cc/solar-panels-1477987_640.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
   
    padding: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
    flex-direction: column;
}

.features {
    color: white;

}
.features div {
    display: flex;
    flex-direction: column;
}

.features p {
    font-size: 20px;
}


section div {
    margin: 10px;
}

section i {
    font-size: 60px;
}

form {
margin: 0 auto; 
   width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 20px;


}
form label{
    text-align: left;
margin: 5px 0;
    }
    form input, form textarea {
        height: 50px;
        font-size: 20px;
    }
    form textarea {
        height: 100px;
         
    }
    form input:focus, form textarea:focus{
        border: 2px solid #374B78; 
        outline: none;

    }
    form button {
        margin-top: 20px;
    }
