* {
    margin: 0;
    padding: 0;

    --color1: rgba(55, 75, 120, 1);
    --color2: rgba(183, 195, 243, 1);
    --color3: rgba(202, 207, 133, 1);
    --color4: rgba(125, 132, 145, 1);
    --color5: rgba(233, 241, 247, 1);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.bold {
    display: inline-block;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.stickyBar {
    position: fixed;
    top: 20px;
    height: 10vh;
    width: 100%;
    background-color: rgba(233, 241, 247, 0.9);
    border-top: 2px solid #374B78;
    border-bottom: 1px solid #374B78;
    text-align: left;
    z-index: 1;

}

.logo {
    /* padding: 30px; */
    font-size: 18px;
}

.contact {
    text-decoration: none;
    /* padding-right: 20%; */
    text-align: left;
}

header {


    /* background: url(img/cc/solar-panels-1477987_1280.jpg) no-repeat center/cover; */
    /* background-image: url("img/cc/solar-panels-1477987_1280.jpg"); */
    background: url(../img/cc/solar-panels-1477987_1280.jpg) no-repeat center/cover;
    height: 100vh;
    position: relative;
    text-align: center;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    text-shadow: 3px 3px black;
    background-color: rgba(255, 255, 255, 0.5);


}

.burger {
    position: absolute;
    /* position: fixed; */
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    /* line-height: 50px; */
    z-index: 1;
    cursor: pointer;
    /* background-color: rgba(67, 146, 241, 0.5); */
    background-color: var(--color1);
    border: 1px solid var(--color5);
    /* border-radius: 5px; */


}

.burger i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color5);

    transform: translate(-50%, -50%);
}

i.off {
    display: none;
}

nav {
    position: absolute;
    left: 0;
    width: 100%;
    top: 10vh;
    padding: 10px;
    /* background-color: var(--color1); */
    transition: .2s;
    font-size: 24px;
}

nav.off {
    top: -300px;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: var(--color2); */
    border: 1px solid var(--color1);

    width: 60%;
    margin: 0 auto;

}

nav ul li {
    width: 100%;
    list-style: none;

    background-color: rgba(233, 241, 247, 0.9);

}

nav ul li a {
    color: var(--color1);
    border-bottom: 1px solid var(--color5);
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    transition: .2s ease;

}

ul li a:hover {
    border-bottom: 1px solid var(--color1);


    /* SEKCJE */
}

section {
    /* background-color: var(--color2); */
    text-align: center;
    padding: 20px;

}

section p {
    font-size: 20px;

}

section ul {
    font-size: 20px;
}

section:nth-child(even) {
    background-color: var(--color5);

}

section:nth-of-type(1) {
    padding-top: 20px;
    /* margin-top: 20px; */


}

section h2 {
    display: inline-block;
    font-size: 35px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}


section h2 {

    border-bottom: 3px solid var(--color2);
}

section:nth-of-type(3) h2 {

    border-bottom: none;
}

section:nth-of-type(1) p:nth-of-type(1),
section:nth-of-type(1) p:nth-of-type(3) {
    margin-top: 20px;
    padding-bottom: 10px;
}

section:nth-of-type(1) h2:nth-of-type(2),
section:nth-of-type(2) h2:nth-of-type(1) {
    margin: 20px 0;
}

section button {
    display: block;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: var(--color1);
    outline: none;

}


section ul li {
    list-style-type: none;
}

.avatar{
background-position: center;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    height: 100%;
    width: 100%;
}

.features {
    background-image: url(../img/cc/solar-panels-1477987_640.jpg);
    /* background: url(../img/cc/photovoltaic-2138992_640.jpg) center no-repeat/cover; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    padding: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
    flex-direction: column;
}

.features {
    color: white;

}

.features div {

    display: flex;
    flex-direction: column;
}

.features p {
    font-size: 20px;
}


section div {
    margin: 10px;
}

section i {
    font-size: 60px;
}


/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery div {
    position: relative;
    height: 350px;
    width: 350px;
    overflow: hidden;
    margin: 15px 15px;



}

.gallery div p {
    position: absolute;
    width: 100%;
    padding: 5px;
    background-color: rgba(233, 241, 247, 0.8);
    border-top: 2px solid #374B78;
    font-size: 20px;
    bottom: 0;
    left: 0;
}

.gallery div img {
    width: 100%;
    height: 100%;
}

section:nth-of-type(6) p:nth-of-type(1) {
    margin-bottom: 20px;
}


/* <section class="opinions" id="scrollRecomendations">
        <h2>Co o nas mówią?</h2>
        <p>Poznaj opinie naszych klientów</p>
        <div class="opinion">
            <div class="CompanyName">Firma Sp.z.o.o</div>
            <div class="comment">Bardzo dobra firma, polecam</div>
        </div> */


.opinions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.opinion {
    border-radius: 20px;
    width: 200px;
    border: 1px solid var(--color1);
}

.opinion {
    background-color: white;
}

.companyName {
    border-top: 1px solid var(--color1);

}

.opinion:nth-child(even) {
    background-color: var(--color1);
    color: white;
}

.opinion:nth-child(even) .companyName {
    border-top: 1px solid white;

}

form {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 20px;


}

label {
    text-align: left;
    margin: 5px 0;
}

input,
textarea {
    height: 50px;
    font-size: 20px;
}

form textarea {
    height: 150px;

}

input:focus,
form textarea:focus {
    border: 2px solid #374B78;
    outline: none;

}

footer {
    padding: 15px;
    background-color: var(--color5);
    text-align: center;
}

footer i {
    font-size: 20px;
}

footer p {
    padding: 2px;
}

.fa-facebook {
    display: inline-block;
    color: #3b5998;
}

.fa-youtube {
    display: inline-block;

    color: #c4302b;
}

footer p:last-child {
    text-align: right;
}




@media only screen and (min-width: 700px) {
    .stickyBar {
        text-align: left;
        display: flex;

        padding: 10px;
    }

    .infoContainer {
        width: 40%;
    }

    div.contact {
        padding-right: 0px;
    }

    .burger {
        display: none;
    }

    nav {
        position: static;
        flex-grow: 1;
        display: block;
        padding: 0;
        top: 0;
        height: 100%;
        font-size: 20px;
        /* z-index: 2; */

    }

    nav ul {
        flex-direction: row;
        /* justify-content: flex-end; */
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        border: none;
        margin: 0;
        height: 100%;



    }

    nav ul li {
        display: inline-block;
        height: 100%;
        border-right: 1px solid var(--color1);



    }

    nav ul li:nth-of-type(1) {
        border-left: 1px solid var(--color1);
    }

    nav ul li a {
        height: 100%;
        padding: 10px;
        margin: 0;
        background-color: rgba(233, 241, 247, 0.9);
        border: none;
    }



    nav ul li:hover {
        background-color: transparent;
    }

    ul li a:hover {
        border-bottom: none;
    }
}

/* stickyBar {
    position: fixed;
    top: 20px;
    height: 10vh;
    width: 100%;
    background-color: rgba(233, 241, 247, 0.9);
    border-top: 2px solid #374B78;
    border-bottom: 1px solid #374B78;
    text-align: left;
    z-index: 1;

} */

/* av {
    position: absolute;
    left: 0;
    width: 100%;
    top: 10vh;
    padding: 10px;
     background-color: var(--color1); 
    transition: .2s;
    font-size: 24px;
}

nav.off {
    top: -300px;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: var(--color2); */
/* border: 1px solid var(--color1);

    width: 60%;
    margin: 0 auto;

}

nav ul li {
    width: 100%;
    list-style: none;

    background-color: rgba(233, 241, 247, 0.9);

}

nav ul li a {
    color: var(--color1);
    border-bottom: 1px solid var(--color5);
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    transition: .2s ease;

 */